TSNetwork.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TSNetwork.xcodeproj/project.xcworkspace/xcuserdata/tobias.xcuserdatad/UserInterfaceState.xcuserstate
TSNetwork.xcodeproj/xcuserdata/tobias.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
TSNetwork.xcodeproj/xcuserdata/tobias.xcuserdatad/xcschemes/TSNetwork.xcscheme
TSNetwork.xcodeproj/xcuserdata/tobias.xcuserdatad/xcschemes/xcschememanagement.plist